.form {
  width: 100%;
  justify-content: center;
  display: flex;
  margin: 25px 0 20px 0;
}

.form-label {
    width:100%;
    padding:5px;
    background-color:linen;
}

.form-text {
  padding: 0 0 10px 0;
  text-align: center;
}
.container {
  position: relative;
  width: 100%;
  justify-content: center;
  display: flex;
}

.frame {
  position: absolute;
  top: 0;
  width: 80%;
  z-index: -1;
}

.painting {
  padding: 10%;
  width: 70%;
}

img {
  width: 100%;
  display: block;
}

@media screen and (max-width: 1024px) {
    .form-label {
        font-size: .9em;
      }
    .btn {width: 100%;}
}

@media screen and (min-width: 768px) {
    .form-label {
        font-size: .8em;
      }
  }
}
